<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd" throwExceptions="true">
  <extensions>
    <add assembly="NLog.Targets.Syslog"/>
  </extensions>
  <variable name="enterpriseId" value="12345"/>
  <variable name="sequenceId" value="1"/>
  <variable name="syslogServer" value="127.0.0.1"/>
  <variable name="serviceName" value="syslogTest"/>
  <targets>
    <target xsi:type="sl:Syslog" name="syslog5424-tgt">
      <sl:layout xsi:type="SimpleLayout" text="${longdate} ${uppercase:${level}} [${threadid}] ${message} ${all-event-properties} ${exception:format=tostring}" />

      <sl:enforcement>
        <sl:splitOnNewLine>true</sl:splitOnNewLine>
        <sl:transliterate>false</sl:transliterate>
        <sl:replaceInvalidCharacters>false</sl:replaceInvalidCharacters>
        <sl:truncateFieldsToMaxLength>true</sl:truncateFieldsToMaxLength>
        <sl:truncateMessageTo>2048</sl:truncateMessageTo>
      </sl:enforcement>
      <sl:messageCreation>
        <sl:facility>local7</sl:facility>
        <sl:rfc>Rfc5424</sl:rfc>
        <sl:rfc5424>
          <sl:hostname xsi:type="SimpleLayout" text="${machinename}" />
          <sl:appName xsi:type="SimpleLayout" text="${serviceName}" />
          <sl:msgId xsi:type="SimpleLayout" text="${threadid}" />
          <sl:disableBom>true</sl:disableBom>
        </sl:rfc5424>
      </sl:messageCreation>
      <sl:messageSend>
        <sl:protocol>UDP</sl:protocol>
        <sl:udp>
          <sl:server>${syslogServer}</sl:server>
          <sl:port>514</sl:port>
          <sl:connectionCheckTimeout>0</sl:connectionCheckTimeout>
        </sl:udp>
      </sl:messageSend>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="syslog5424-tgt" />
  </rules>
</nlog>